body {
    margin: 0;
    
    font-family: 'Merriweather', serif;
    font-size: 18px;
    line-height: 1;
    
    color: darkslategray;
    background-color: blanchedalmond;
}

.main {
    width: 30%;
    margin: auto;
    margin-top: 16%;
    text-align: center;
}
